body {
  background-image: url("race.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  min-height: 100vh;
}

.car {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  border-radius: 5px;
}

p {
  font-size: 24px;
  color: #666;
}

button {
  color: #333;
  background-color: #ddd;
  cursor: pointer;
  outline-color: #ccc;
  font-size: 16px;
  padding: 5px 7px;
  border: none;
  border-radius: 3px;
  margin: 3px;
}

button:hover {
  background-color: #ccc;
}
