.product-card{
  padding: 40px;
  width: 200px;
  height: 220px;
 border: 1px solid black;
 border-radius: 10px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}