@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  margin: 0 auto;
  background: black;
}

.app .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .navigation .logo {
  margin: 20px;
}

.app .navigation .logo a img {
  height: 150px;
}

.app .navigation nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
  list-style-type: none;
}

.app .navigation nav ul li {
  margin: 0 20px;
}

.app .navigation nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: color 0.3s ease-in-out;
}

.app .navigation nav ul li .active {
  color: #579de6;
}

.app main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  color: white;
}

.app main img {
  max-width: 700px;
}
