node_modules

# Looks very empty for now...
# Maybe you should add something here?
.env




























































































# 🐢 Schildkröte is such a fun word