body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  height: 100px;
  width: 200px;
  background-color: darkgray;
  margin: 1em;
  border: 2px solid red;
  text-align: center;
}
