body {
  display: flex;
  justify-content: center;
  border: 5px solid red;
}

div {
  flex-shrink: 1;
  height: 100px;
  background-color: darkgray;
  margin: 1em;
  border: 2px solid red;
  text-align: center;
}
